<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-brand mb-0 h1">WATTHEQ</span>
    </div>

    <button class="navbar-toggler" type="button"
      data-toggle="collapse"
      data-target="#exan" aria-controls="exan" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="exan">
      <div class="nav navbar-nav">

        <a class="nav-item nav-link" routerLink="/home"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"><i
            class="fa fa-home"></i>
          Home</a>

        <a class="nav-item nav-link" routerLink="/registration"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}" *ngIf="!isLogged()"><i
            class="fa
            fa-user-plus"></i> Register</a>

        <a class="nav-item nav-link" routerLink="/login"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}" *ngIf="!isLogged()"><i
            class="fa
            fa-sign-in"></i> Login</a>

        <a class="nav-item nav-link" routerLink="/users"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}" *ngIf="isLogged()"><i
            class="fa fa-users"></i>
          Users</a>

        <a class="nav-item nav-link" routerLink="/profile"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}" *ngIf="isLogged()"><i
            class="fa fa-user"></i>
          Profile</a>

        <a class="nav-item nav-link"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}" *ngIf="isLogged()"
          (click)="logout()" routerLink="/login"><i class="fa fa-power-off"></i>
          Logout</a>

      </div>
    </div>
  </div>
</nav>