<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">WATTHEQ</span>

    <button class="navbar-toggler" type="button"
      data-toggle="collapse"
      data-target="#exan" aria-controls="exan" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="exan">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/"><i class="fa fa-home"></i>
          Home</a>
        <a class="nav-item nav-link" routerLink="/registration"><i class="fa
            fa-user-plus"></i> Register</a>
        <a class="nav-item nav-link" routerLink="/login"><i class="fa
            fa-sign-in"></i> Login</a>
        <a class="nav-item nav-link" routerLink="/about"><i class="fa fa-info"></i>
          About</a>
      </div>
    </div>
  </div>
</nav>