<div class="container-fluid">
    <h1 class="display-1 form-group">Register an account</h1>

    <form name="form" [formGroup]="form" (ngSubmit)="addUser()">

        <div class="form-group">
            <label for="fullName" class="lead">Fullname</label>
            <input class="form-control col-sm-4" type="text"
                formControlName="fullName" [ngClass]="{'is-invalid':
                form.get('fullName').touched && form.get('fullName').invalid}"
                [(ngModel)]="user.fullName">
            <div *ngIf="form.get('fullName').touched &&
                form.get('fullName').invalid" class="invalid-feedback">
                <div *ngIf="form.get('fullName').errors.required">Fullname is
                    Required!</div>
                <div *ngIf="form.get('fullName').errors.minlength">Fullname must
                    be 5 characters or higher!</div>
            </div>
        </div>

        <div class="form-group">
            <label for="dob" class="lead">Date of Birth</label>
            <input class="form-control col-sm-4" type="date"
                formControlName="dob" [ngClass]="{'is-invalid':
                form.get('dob').touched && form.get('dob').invalid}"
                [(ngModel)]="user.dob">
            <div class="invalid-feedback">
                Date of Birth is Required!
            </div>
        </div>

        <div class="form-group">
            <label for="phoneNumber" class="lead">Phone Number</label>
            <input class="form-control col-sm-4" type="text"
                formControlName="phoneNumber" [ngClass]="{'is-invalid':
                form.get('phoneNumber').touched &&
                form.get('phoneNumber').invalid}"
                [(ngModel)]="user.phoneNumber">
            <div *ngIf="form.get('phoneNumber').touched &&
                form.get('phoneNumber').invalid" class="invalid-feedback">
                <div *ngIf="form.get('phoneNumber').errors.required">Phone
                    Number is
                    Required!</div>
                <div *ngIf="form.get('phoneNumber').errors.minlength">Phone
                    Number must
                    be 10 digits only!</div>
                <div *ngIf="form.get('phoneNumber').errors.maxlength">Phone
                    Number must
                    be 10 digits only!</div>
            </div>
        </div>

        <div class="form-group">
            <label for="email" class="lead">Email</label>
            <input class="form-control col-sm-4" type="email"
                formControlName="email" [ngClass]="{'is-invalid':
                form.get('email').touched && form.get('email').invalid}"
                [(ngModel)]="user.email">
            <div *ngIf="form.get('email').touched &&
                form.get('email').invalid" class="invalid-feedback">
                <div *ngIf="form.get('email').errors.required">Email is
                    Required!</div>
                <div *ngIf="form.get('email').errors.email">Enter a valid email
                    address!</div>
            </div>
        </div>

        <div class="form-group">
            <label for="password" class="lead">Password</label>
            <input class="form-control col-sm-4" type="password"
                formControlName="password" [ngClass]="{'is-invalid':
                form.get('password').touched && form.get('password').invalid}"
                [(ngModel)]="user.password">
            <div *ngIf="form.get('password').touched &&
                form.get('password').invalid" class="invalid-feedback">
                <div *ngIf="form.get('password').errors.required">Password is
                    Required!</div>
                <div *ngIf="form.get('password').errors.minlength">Password must
                    be 8 characters or higher!</div>
            </div>
        </div>

        <div class="form-group">
            <label for="nationalID" class="lead">National ID</label>
            <input class="form-control col-sm-4" type="text"
                formControlName="nationalID" [ngClass]="{'is-invalid':
                form.get('nationalID').touched &&
                form.get('nationalID').invalid}" [(ngModel)]="user.nationalID">
            <div *ngIf="form.get('nationalID').touched &&
                form.get('nationalID').invalid" class="invalid-feedback">
                <div *ngIf="form.get('nationalID').errors.required">National ID
                    is
                    Required!</div>
                <div *ngIf="form.get('nationalID').errors.minlength">National ID
                    must
                    be 10 digits only!</div>
                <div *ngIf="form.get('nationalID').errors.maxlength">National ID
                    must
                    be 10 digits only!</div>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-lg"
                [disabled]="!form.valid"><i class="fa fa-plus"></i>
                Register</button>
        </div>

        <div class="form-group">
            <a routerLink="/login" style="text-decoration: none;"><samp
                    class="lead">Already Registered? Login here <i
                        class="fa fa-arrow-right"></i></samp></a>
        </div>
    </form>
</div>