<div class="content-wrapper">
    <div class="container container-content">
        <div class="row">
            <div class="col-sm-4 mt-5">
                <div class="card bg text-center">
                    <div class="card-header"><i class="fa fa-user-circle-o
                            fa-3x"></i></div>

                    <div class="card-body text-left">
                        <h5 class="card-title">{{user.fullName}}</h5>
                        <p class="card-text"><i class="fa fa-phone-square"></i>
                            {{user.phoneNumber}}</p>
                        <p class="card-text"><i class="fa fa-calendar"></i>
                            {{user.dob |
                            date: 'dd/MM/yyyy'}}</p>
                        <p>Role: {{role}}</p>
                    </div>

                    <div class="card-footer">
                        <button type="button" class="btn btn-sm"
                            (click)="toggle()"><b>Upload<br>Certificates</b></button>
                    </div>
                </div>
                <app-upload-certificate *ngIf="show"></app-upload-certificate>
            </div>

            <div class="col-sm-8 mt-2">
                <div class="content">
                    <h3>Certificates</h3>
                    <app-certificate-list></app-certificate-list>
                </div>
            </div>

        </div>
    </div>
</div>