<div class="content-wrapper">
    <div class="container container-content">
        <div class="row">
            <div class="col-sm-4">
                <div class="card text-white bg-dark mt-5 text-center">
                    <div class="card-header"><i class="fa fa-user-circle-o
                            fa-3x"></i></div>
                    <div class="card-body">
                        <h5 class="card-title">{{user.fullName}}</h5>
                        <p class="card-text">{{user.phoneNumber}} | {{user.dob}}</p>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-sm-4">
                                <button type="button" class="btn
                                    btn-primary active" (click)="toggle()">Upload</button>
                            </div>
                            <div class="col-sm-4">
                                <button type="button" class="btn
                                    btn-warning active">Edit</button>
                            </div>
                            <div class="col-sm-4">
                                <button type="button" class="btn
                                    btn-danger active">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
                <app-upload-certificate *ngIf="show"></app-upload-certificate>
            </div>
            <div class="col-sm-8">
                <div class="content">
                    <h3>Certificates</h3>
                    <hr>
                    <app-certificate-list></app-certificate-list>
                </div>
            </div>
        </div>
    </div>
</div>